---

###################### Sample info ######################

SAMPLE:
  Control_rep1: SRR6243319
  Control_rep2: SRR6243320
  Control_rep3: SRR6243321
  KD_rep1: SRR6243322
  KD_rep2: SRR6243323
  KD_rep3: SRR6243324




END: 
  - 1





###################### Reference info ######################

REFERENCE:
  - 'ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_37/'
  - 'GRCh38.primary_assembly.genome.fa'
  - 'gencode.v37.primary_assembly.annotation.gtf'
  
# e.g. 
# Reference genome link: ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_37/GRCh38.primary_assembly.genome.fa.gz
# Reference annotation (GTF) link: ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_37/gencode.v37.primary_assembly.annotation.gtf.gz 

###################### Extra-setting info ######################


INDEX_STAR: "/home/mira/Documents/programming/Bioinformatics/snakemake_star_hisat/reference/star_index" # Assigns path to star indexing directory (ABSOLUTE PATH NEEDED due to a potential STAR error!)

INDEX_HISAT: "reference/hisat2_index/hisat2_index" # Assigns hisat2 index files (e.g.reference/hisat2_index/hisat2_index.1.ht2, reference/hisat2_index/hisat2_index.2.ht2, ...)



FASTQ_EXT: '.fastq.gz'



CONDA: "config/conda_r.yaml"
  
RCONFIG: 'config/config_single1.R'



